.header {
    background-color: grey;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.search {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search input {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 320px;
    background-color: lightgray;
}

.search input:focus  {
    background-color: white;
}

.profil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}

.add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13%;
    gap: 10px;
}

.ajouter {
    background-color: #0B7697;
    width: 100px;
    color: white;
}

.logout {
    display: flex;
    margin-right: 30px;
    color: white;
    align-items: center;
}

.contentHeaderR {
    display: flex;
}

.buttonLogs {
    background-color: #0B7697;
    width: 150px;
    color: white;
}

.signaler {
    background-color: orange;
}

.containerSignalement {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.messageSignalement {
    height: 50%;
    resize: none;
}

.titleSignalement {
    width: 400px;
    text-align: center;
}