.header {
    background-color: grey;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.search {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search input {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 320px;
    background-color: lightgray;
}

.search input:focus  {
    background-color: white;
}

.profil {
    margin: 5px;
}

.add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;
}

.add button {
    background-color: #0B7697;
    width: 100px;
    color: white;
}