.containerMsg{
    display: flex;
    flex-direction: column;
}


.discussionLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: black 2px solid;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.imgDiscussionListe{
    height: 120px;
     width: 150px;
}